* { box-sizing: border-box }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}

body {
  background: #EDE5E2;
}
body.p2 {
  background: #FFF0CF;
}

nav {
  position: fixed;
}
nav ul li {
  position: relative;
  height: auto;
  margin: 0.4em;
  list-style-type: none;
}
nav ul li > a {
  display: inline-block;
  background: rgba(50,50,50,0.2);
  border: 1px solid #777;
  border-radius: 5px;
  padding: 0.2em 0.6em;
}

code {
  padding: 0 0.4em;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #E21B5A;
}
a:hover, a:focus {
  text-decoration: none;
  color: #9E0C39;
}

#test-box1, .test-box2, .test-box3, #test-box4 {
  position: relative;
  background: #EA3556;
  /*border: 2px solid red;*/
  width: 150px;
  height: 150px;
  margin: 10px auto;
  padding: 2px 4px;
  color: rgba(50,50,50,0.5);

}
#test-box1.p2 {
  background: #DD577A;
}

.test-box2 {
  background: #61D2D6; /*9BF0E9*/
}
.test-box2.p2 {
  background: #FE5A27;
}

.test-box3 {
  background: #ED146F;
}
.test-box3.p2 {
  background: #49AEC0;
}

#test-box4 {
  background: #EDDE45;
}
#test-box4.p2 {
  background: #131723;
}